@page
@model GestionOfLivre.Pages.CatEdit.CatEditModel
@{
    <br />
    <h2>Les informations de la Categorie : </h2>
    <form method="post">
        <input type="hidden" name="IDCat" value="@Model.Categorieinfo.IDCat" asp-for="Categorieinfo.IDCat">
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">NomCat</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="NomCat" value="@Model.Categorieinfo.NomCat" asp-for="Categorieinfo.NomCat">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">DescriptionCat</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="DescriptionCat" value="@Model.Categorieinfo.DescriptionCat" asp-for="Categorieinfo.DescriptionCat">
            </div>
        </div>
        

        <div class="row mb-3">
            <div class="offset-sm3 col-sm-3 d-grid">
                <button type="submit" class="btn btn-primary"> Submit </button>
            </div>
            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary" href="/Categorie" role="button">Cancel</a>
            </div>
        </div>
    </form>
}